# Ignorer pom.xml 
/pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
...

### VS Code ###
.vscode/

# Fichiers sensibles
/src/main/resources/application.properties
